asgiref==3.11.1
boto3==1.42.41
botocore==1.42.41
Django==6.0.2
django-htmx==1.27.0
django-ratelimit==4.1.0
django-storages==1.14.6
django-tinymce==5.0.0
gunicorn==25.0.1
jmespath==1.1.0
packaging==26.0
pillow==12.1.0
pytailwindcss==0.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.11.0
dj-database-url==2.3.0
psycopg[binary]==3.3.3
